<!DOCTYPE html>
<html>
	<head>
		<title>TimePaper</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="Make a wallpaper from timetable.">
		<meta name="theme-color" content="#FFD500">
	
		<meta property="og:type" content="website">
		<meta property="og:title" content="TimePaper">
		<meta property="og:description" content="Make a wallpaper from timetable.">
		<meta property="og:url" content="https://timepaper.herokuapp.com/">
			
		<link rel="canonical" href="https://timepaper.herokuapp.com/">
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		
		<link rel="stylesheet" href="../public/common/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="../public/common/css/bootstrap.min.css">
		<script src="../public/common/js/jquery-3.3.1.min.js"></script>
		<script src="../public/common/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<h1>Welcome to TimePaper!</h1>
		</header>

		<div class="container">
			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>