<!DOCTYPE html>
<html>
	<head>
		<title>TimePaper</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="Make a wallpaper from timetable.">
		<meta name="theme-color" content="#FFD500">
	
		<meta property="og:type" content="website">
		<meta property="og:title" content="TimePaper">
		<meta property="og:description" content="Make a wallpaper from timetable.">
		<meta property="og:url" content="https://timepaper.herokuapp.com/">
			
		<link rel="canonical" href="https://timepaper.herokuapp.com/">
	</head>
	<body>
		<header>
			<h1>Welcome to TimePaper!</h1>
		</header>
	</body>
</html>